<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XiyouScore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>664438AC1D406CE50022D5CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>664438C51D406CE50022D5CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>664438D01D406CE50022D5CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
